<a href="https://colab.research.google.com/github/Ariok-David/edd_1310_2021/blob/master/1octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Intro Python 3
### Variables
Tipo dinamico

```escuela = "Fes Aragón"```

In [5]:
escuela = "Fes Aragón"
print(escuela)
print("---------------")
edad = 13
estatura = 1.67
fumador = True
frase = """
Esta es una frase
de multiples lineas
y tambies es un tipo
de dato.
"""
print(frase)
nombre = 'Jose'
nombre_completo = "Jose Arenas Renteria"

#-------------------------------------

Fes Aragón
---------------

Esta es una frase
de multiples lineas
y tambies es un tipo
de dato.

# Print
con comas

con signo +

con format()

con el operador f""

In [9]:
# la coma genera un espacio.
print(nombre,edad)

Jose 13
--------------
Jose13
Jose Jose Arenas Renteria

In [10]:
# El + concatena dos variables.
print("--------------")
print(nombre + str(edad))
print(nombre + "-" + nombre_completo)

--------------
Jose13
Jose-Jose Arenas Renteria

In [13]:
# con format() ----> Nombre: Jose y su edad es 13 años.
print("---------------")
# se podria hacer de esta forma pero no es conveniente
print("Nombre:",nombre,"y su edad es",edad,"años.")
# mejor con format.
print("-------------------")
print("Nombre: {0} y su edad es {1} años.".format(nombre,edad))
# Experimento.
print("-------------------")
print("Nombre: {1} y su edad es {0} años.".format(nombre,edad))

---------------
Nombre: Jose y su edad es 13 años.
-------------------
Nombre: Jose y su edad es 13 años.
-------------------
Nombre: 13 y su edad es Jose años.

In [14]:
# Con formato con el operador f "".
print("----------------")
print(f"Nombre: {nombre} y su edad es {edad} años.")

----------------
Nombre: Jose y su edad es 13 años.

# Carácter de escape.
```\n``` - Salto de linea.

```\t``` - Tabulador.

```\a``` - Beep

```\"``` - Imprimir comilla doble.

```\'``` - Imprimir comilla simple.

In [15]:
"""
Esto es un 
comentario
de multiple 
linea
"""

print(f"\t Mi nombre es \n\t\t {nombre}")

	 Mi nombre es
		 Jose

# Ayuda de tipos de dato en Python

```dir()```

```help()```

In [ ]:
# str, int, float, bool, ..... ,list, dict, set
help(str)

In [24]:
print(nombre_completo.capitalize())
print("--------------")
print(nombre_completo.upper())
print("--------------")
print(nombre_completo.title(), end = "+++++")

Jose arenas renteria
--------------
JOSE ARENAS RENTERIA
--------------
Jose Arenas Renteria+++++

In [ ]:
help(print)

# clase String

Es manejada como un arreglo (c o java) o lita (python)

```telefono = "Huawei mate 30 pro"```

In [28]:
telefono = "Huawei mate 30 pro"
# Mostrar solo la i del texto anterior.
print(telefono[5])

i

# Slicing (Rebanado gg)

```[inicio : stop : incremento]```

Nota: el stop no se incluye, se pone el valor anterior a donde queremos terminar.

In [36]:
print(telefono[7:11:1])
#El inicio y el incremento son opcionales
print("--------------")
print(telefono[:11:])
#El valor por defecto de stop es len(str)
print("--------------")
print(telefono[::])
#Incremento Negativo
print("--------------")
print(telefono[::-1])
#Slicing Negativo 
print("--------------")
print(telefono[-3::1])

mate
--------------
Huawei mate
--------------
Huawei mate 30 pro
--------------
orp 03 etam iewauH
--------------
pro

# Metodos de String

Existen metodos muy utiles en esta clase

In [47]:
facultad = "    facultad de estudios superiores aragon      "
#Conteo de caracteres
print(facultad.count(" "))
#Muestar en que espacio esta el caracter seleccionado mas cercano.
print("----------------")
print(facultad.find("s"))
#Elimina los espacios en blanco solo en el inicio y final al igual que los saltos de linea.
print("----------------")
print(facultad.strip())
#Longitud de string
print("----------------")
print(len(facultad))
#Separa la cadena tomando en cuenta el caracter que queramos
print("----------------")
print(facultad.split("u"))
#Copiar cadenas
otra_cadena = facultad
print("----------------")
print(len(facultad))
#Copiar listas
colores = ["rojo", "verde", "azul"]
otra = colores.copy()
print("----------------")
print(colores)
print(otra)
otra.append("rosa")
print(colores)
print(otra)

14
----------------
17
----------------
facultad de estudios superiores aragon
----------------
48
----------------
['    fac', 'ltad de est', 'dios s', 'periores aragon      ']
----------------
48
----------------
['rojo', 'verde', 'azul']
['rojo', 'verde', 'azul']
['rojo', 'verde', 'azul']
['rojo', 'verde', 'azul', 'rosa']