<a href="https://colab.research.google.com/github/Ariok-David/edd_1310_2021/blob/master/6octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
# String continuacion

numeros_txt = " 1, 3 ,2 , 3, 4  , 5, 6 ,35, 15  ,  12"
print(numeros_txt)
numeros_txt = numeros_txt.lstrip().split(',')
print(numeros_txt)

for j in range(len(numeros_txt)):
    numeros_txt[j] = int(numeros_txt[j].strip())

print(numeros_txt)

#funcion range()
#range(inicio, stop, incremento)
print(range(0, 10, 1))
rango = range(1, 10,2)
for x in rango:
    print(x)
print("-----------------------------")
rango =  range(10)
for x in rango:
    print(x)

 1, 3 ,2 , 3, 4  , 5, 6 ,35, 15  ,  12
['1', ' 3 ', '2 ', ' 3', ' 4  ', ' 5', ' 6 ', '35', ' 15  ', '  12']
[1, 3, 2, 3, 4, 5, 6, 35, 15, 12]
range(0, 10)
1
3
5
7
9
-----------------------------
0
1
2
3
4
5
6
7
8
9

# Listas
- Son mutables
- Se declaran con []
- Selector [int]
- Pueden ser de cualquier tipo y mezclado

#Tuplas
- No mutables
- Se declaran con ()
- Selector [int]

#Diccionarios
- Son conjunto de pares llave:valor
- Son mutables
- Equivalente a los objetos JSON de javascript

#Conjuntos
- Representacion de la teoria de conjuntos

In [27]:
# listas 
frutas = ["Pera", "Manzana", "Fresa", "Kiwi", "Naranja"]
print(frutas)
frutas[2] = "fresa"
print(frutas)
#Capitalalize para poner en mayuscula la primer letra de nuestra palabra
frutas[2] = frutas[2].capitalize()
print(frutas)

print("---------------------------")

cosas = ["Cuaderno", 2, 3.1416, True, False, ["Rojo", "Azul"]]
print(cosas)

print("----------------------- ---")

#Agregar a una lista

# append() añade al final

frutas.append("Aguacate")
print(frutas)

#insert() añade en la pocision que queramos

frutas.insert(2, "Sandia")
print(frutas)

print("---------------------------")

fecha = ["06", "10", "2020"] 
print(fecha)

# poner en formato 06/10/2020

fecha_str = "/".join(fecha)
print(fecha_str)

print("---------------------------")

['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranja']
['Pera', 'Manzana', 'fresa', 'Kiwi', 'Naranja']
['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranja']
---------------------------
['Cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
----------------------- ---
['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranja', 'Aguacate']
['Pera', 'Manzana', 'Sandia', 'Fresa', 'Kiwi', 'Naranja', 'Aguacate']
---------------------------
['06', '10', '2020']
06/10/2020
---------------------------

In [42]:
# Eliminar elementos

cosas = ["Cuaderno", 2, 3.1416, True, False, ["Rojo", "Azul"]]
print(cosas)
cosas.append("Libro")
cosas.append("Lapiz")
print(cosas)

print("---------------------------")
# pop elimina el elemento en la posicion deseada

algo = cosas.pop()
print(cosas)
print(algo)

algo = cosas.pop(2)
print(cosas)
print(algo)

print("------------------------")

#remove elimina cosas en la posicion indicada

cosas.remove(2)
print(cosas)

print("------------------------")

#Vaciar una lista

cosas.clear()
print(cosas)

print("------------------------")

#Ordenar lista 
#Nota: solo sirve si la lista es del mismo tipo.
print(frutas)
frutas.sort()
print(frutas)

['Cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
['Cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul'], 'Libro', 'Lapiz']
---------------------------
['Cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul'], 'Libro']
Lapiz
['Cuaderno', 2, True, False, ['Rojo', 'Azul'], 'Libro']
3.1416
------------------------
['Cuaderno', True, False, ['Rojo', 'Azul'], 'Libro']
------------------------
[]
------------------------
['Pera', 'Manzana', 'Sandia', 'Fresa', 'Kiwi', 'Naranja', 'Aguacate']
['Aguacate', 'Fresa', 'Kiwi', 'Manzana', 'Naranja', 'Pera', 'Sandia']

In [49]:
#Slicing
cosas = ["Cuaderno", 2, 3.1416, True, False, ["Rojo", "Azul"]]
print(cosas[3:5:1])
print(cosas)
print(cosas[0][3:5:1])

print("-----------------------")

numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
print(numeros[7:12:1])

print("-----------------------")

#Sustituir rebanadas gg
numeros[7:12] = [-2, -2]
print(numeros)

print("-----------------------")

#Preguntar por existencia
print(-2 in numeros)

print("-----------------------")

[True, False]
['Cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
de
-----------------------
[8, 9, 10, 11, 12]
-----------------------
[1, 2, 3, 4, 5, 6, 7, -2, -2, 13, 14, 15]
-----------------------
True

# Listas multidimensión

Listas dentro de listas

In [65]:
computadoras = ["HP", "Macbook Pro 17", "Matebook", "Lenovo Legion"]
oss = ["Windows 10", "Linux", "Android", "IOs"]

computo = [computadoras, oss]
print(computo[0])
print(computo[1])
print(computo[0][2])
print(computo[0][2][3::-1])

#preguntar por existencia
print("Linux" in computo[1])

#

dbms = [["MySQL", "Open Source", False], ["MS SQL Server", "De paga", True]]

computo.append(dbms)
print(computo)
print(computo[2][1][1])

['HP', 'Macbook Pro 17', 'Matebook', 'Lenovo Legion']
['Windows 10', 'Linux', 'Android', 'IOs']
Matebook
etaM
True
[['HP', 'Macbook Pro 17', 'Matebook', 'Lenovo Legion'], ['Windows 10', 'Linux', 'Android', 'IOs'], [['MySQL', 'Open Source', False], ['MS SQL Server', 'De paga', True]]]
De paga